<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    <div class="mt-3">
        <p class="p-small-one">I just wanna tell you how I'm feeling</p> 
        <p class="p-small-one">Gotta make you understand</p>
        <p class="p-small-one">Never gonna give you up</p>              
        <hr>
        <p class="p-small-one text-muted">Never gonna let you down</p>
        <p class="p-small-one text-muted">Never gonna run around and desert you</p>              
    </div>
</div>
